extends layout

block content
  div(ng-controller="List")
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header.navbar-form
          input.span2(type='text' placeholder='Имя' ng-model='name')
          button.btn.btn-primary(type='button' ng-click='log()') Подключиться
    div(ng-if='log == true')
      div
        div.list-item(ng-repeat='t in fullList')
          textarea(id='{{t._id}}' ng-disabled='t.blocking && myBlockId != t._id' ng-focus='blockElem(t._id, true)' ng-blur='blockElem(t._id, false)' ng-keyup='changeElem(t._id, $event)') {{t.text}}
          span.label.label-danger(ng-if='t.blocking' ng-hide='t.blocking == "edit"') Заблокирован
          span.label.label-danger.block-name(ng-if='t.blocking' ng-hide='t.blocking == "edit"') {{t.user_block}}
          span.label.label-success(ng-if='!t.blocking' ng-hide='t.blocking == "edit"') Свободен
          span.label.label-warning(ng-if='t.blocking == "edit"') Редактируется
          button.del-button.btn.btn-danger(ng-disabled='t.blocking && myBlockId != t._id' type='button' ng-click='delElem(t._id)') Удалить
      button.btn.btn-success(type='button' ng-click='addNew()') Добавить