doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/angular.min.js" type="text/javascript")
    script(src="/js/app.js" type="text/javascript")

  body(ng-app='textsList')
    block content
