body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 900px;
  margin: auto;
}

a {
  color: #00B7FF;
}

textarea {
  width: 500px;
  height: 70px;
  max-width: 500px;
  margin-bottom: 10px;
}

.list-item {
  width: 600px;
}

.label {
  float: right;
}

.del-button {
  margin-left: 513px;
  margin-top: -75px;
}

.btn-primary {
  margin-left: 10px;
}

.block-name {
  position: absolute;
  margin-top: 20px;
  margin-left: 14px;
}